@font-face {
  font-family: 'riformaBold';
  src: url('./../public/fonts/RiformaLL-Bold.otf') format('otf');
  src: url('./../public/fonts/RiformaLL-Bold.woff') format('woff');
}

@font-face {
  font-family: 'UnicaMedium';
  src: url('./../public/fonts/Unica77LL-Medium.otf') format('otf');
  src: url('./../public/fonts/Unica77LL-Medium.woff') format('woff');
}

@font-face {
  font-family: 'UnicaBold';
  src: url('./../public/fonts/Unica77LL-Bold.otf') format('otf');
  src: url('./../public/fonts/Unica77LL-Bold.woff') format('woff');
}

@font-face {
  font-family: 'RiformaHeavy';
  src: url('./../public/fonts/RiformaLL-Medium.otf') format('otf');
  src: url('./../public/fonts/RiformaLL-Medium.woff') format('woff');
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: 'UnicaBold';
  box-sizing: border-box;
  font-weight: unset;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
